/* ====================================================
Customizing the navbar
==================================================== */

/* Navbar Menu */
.navbar-menu {
    float: right;
}

/* Nav element */
nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

/* Nav items inside nav */
nav .nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    display: var(--nav-item-display);
    margin: var(--nav-item-margin);
}

/* Nav links inside nav */
nav .nav-link {
    display: block;
    padding: 0.5rem 1rem; /* 0.5 root top/bottom, 1 root left/right */
}

/* Nav link hover */
nav .nav-link:hover {
    color: var(--nav-item-link-hover);
}

/* Root variables */
:root {
    --nav-item-font-family: var(--font-family-title);
    --nav-item-font-weight: var(--font-weight-bold);
    --nav-item-font-size: var(--font-size-medium);
    --nav-item-letter-spacing: 0.4rem; /* 4% of root = 0.4rem */
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 3rem 0;
    --nav-item-link-hover: var(--color-primary);
}
